body{
    cursor: url(a.png);
}
#but{
    border: 1px solid #141414;
     background: #fff0;
     color: #dadada;
     font-size: 16px;
     border-radius: 2px;
     font-family: PT Sans;
     outline: none;
     padding: 2px;
 }
#but:hover{
   background-color: #2f2f2f;
}
#but:active{
    border-bottom: 1px solid #70707063;

    background-color: #161616;
}
